<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/ico/favicon.ico">

  <title>martin bast</title>

  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">

  <link href="{{ site.baseurl }}/assets/css/bootstrap.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/custom.min.css" rel="stylesheet">

  <style>
    body {
      font-family: 'Archivo Narrow', sans-serif;
      padding: 20px; 
    }

    .top-buffer { margin-top: 25px; }
  </style>
</head>
